librelane/
pdk/
venv/
.venv/
UART_TX/sim_build

# Python
__pycache__/
*.pyc

# CocoTB simulation
sim_build/
results.xml

# Vivado
vivado_project/
vivado.log
vivado.jou
.Xil/
*.bit
*.str
*.log
*.jou
/TopLevel/vivado*
/TopLevel/src/runs/
/TopLevel/runs/*
wifi_button/build

