librelane/
pdk/
venv/
.venv/
UART_TX/sim_build

# Python
__pycache__/
*.pyc

# CocoTB simulation
sim_build/

# Vivado
vivado_project/
vivado.log
vivado.jou
.Xil/
*.bit
*.str
*.log
*.jou
/TopLevel/vivado*
