librelane/
pdk/
venv/
.venv/
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.pyc
*.egg-info/

# CocoTB simulation
sim_build/
results.xml

# Vivado / FPGA Standard Ignores
vivado_project/
.Xil/
*.bit
*.bin
*.jou
/TopLevel/vivado*
/TopLevel/src/runs/
/TopLevel/runs/*
wifi_button/build
*.log
*.str
*.pb
*.dcp
*.wdb
*.tmp
*.rpt

